.postit-toolbar button {
  background: none;
  border: none;
}

.postit-toolbar {
  align-self: flex-end;
}

.postit-text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postIt {
  padding: 2px;
  margin: 5px ;
  width: 100px;
  height: 100px;
  background-color: yellow !important;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.edit-icon {
  height: 6px;
}
