.postit-toolbar button {
  background: none;
  border: none;
}

.postit-toolbar {
  align-self: flex-end;
}

.postit-text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postIt-input {
  width: 100%;
  margin: 10px;
  flex: 1;
  background: none;
  resize: none;
}

.postIt {
  padding: 2px;
  margin: 5px ;
  width: 100px;
  height: 100px;
  background-color: yellow;
  float: left;
  text-align: center;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.edit-icon {
  height: 12px;
}
