.group {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border: solid #ccc 3px;
  border-radius: 10px;
  max-width: 480px;
  padding: 5px;
  cursor: move;
}

.group-name {
  position: absolute;
  right: 10px;
  top: -20px;
  border: none;
  padding: 5px;
  width: inherit;
  background-color: white;
  text-transform: uppercase;
}
