.group {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: solid #ccc 3px;
  border-radius: 10px;
  max-width: 490px;
  cursor: move;
}

.group-post-its {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.group-name {
  position: absolute;
  right: 10px;
  top: -20px;
  border: none;
  padding: 5px;
  width: inherit;
  background-color: white;
  text-transform: uppercase;
}

.groupActions {
  background-color: #ccc;
  overflow: hidden;
  transition: ease-in-out;
  transition-duration: 500ms;
}

.actionsList {
  text-align: left;
  list-style: inside;
}

.addActionForm {
  margin: 10px;
  display: flex;
}

.addActionForm input {
  flex: 1;
  padding: 5px;
  margin-right: 5px;
}