.postItContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #efe014;
  margin: 5px;
  cursor: move;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.postItSimple {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #efe014;
  margin: 5px;
  cursor: move;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.postItContainer:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.22);
}

.dragging {
  background: transparent;
  border: 2px dashed rgba(128, 128, 128, 0.2);
  box-shadow: none;
}

.dragging:hover {
  box-shadow: none;
}

.postIt {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.edit_icon {
  height: 20;
  width: 20px;
  cursor: pointer;
}

.postItInput {
  flex: 1;
  background: none;
  border: none;
  border-bottom: 2px solid grey;
  margin: 5px;
  padding: 5px;
  height: auto;
  text-align: center;
  resize: none;
}

.postItInput:focus {
  outline: none;
  border-top: 1px solid red;
}

.dragging .postItInput,
.dragging .edit_icon {
  display: none;
}

.postIt_colours {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: all 0.2s ease-in;
  justify-content: center;
  flex-wrap: wrap;
}
