.postIt {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: yellow;
  margin: 5px;
  cursor: move;
}

/* .dragging {
  background: transparent;
  border: 3px dashed grey;
} */


.postItInput {
  background: none;
  border: none;
  border-bottom: 2px solid grey;
  margin: 5px;
  padding: 5px;
  height: auto;
  text-align: center;
  resize: none;
}

.postItInput:focus {
  outline: none;
  border-top: 1px solid red;
}
